<div class="clearfix">
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 120, 120, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg" %>
  <br>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <td>name</td>
        <td class="overflow-wrap-break"><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td class="overflow-wrap-break"><%= user.introduction %></td>
      </tr>
    </tbody>
  </table>
  <% if user.id == current_user.id %>
  <%= link_to edit_user_path(user) do %>
  <button type="button" class="btn btn-default col-xs-12" aria-label="Left Align"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
  <% end %>
  <% end %>
</div>